body {
  font-family: sans-serif;
  margin: auto;
  max-width: 640px;
  color: white;
  background: url("animatedstar.png");
  text-align: center;
}

h1 {
  animation: rainbow 1s infinite;
  border: inset silver 8px;
}

a {
  color: aqua;
}

a:visited {
  color: deepskyblue;
}

@keyframes rainbow {
  0% { color: red; }
  20% { color: yellow; }
  40% { color: lime; }
  60% { color: cyan; }
  80% { color: blue; }
  100% { color: magenta; }
}

.marquee {
  width:600px;
  padding:0.5em 0;
  overflow:hidden;
  margin-bottom:10px;
  position:relative;
}

.marquee p:after {
  content: "";
  white-space: nowrap;
  padding-right: 50px;
}

.marquee p {
  margin: 0;
  padding-left: 600px;
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from   { transform: translate(0%);}
  99%,to { transform: translate(-100%);}
}
